<div class="container">
    <h2>Cart</h2>

    <div id="item" class="container card">

        <div class="container card-body">
            <span class="float-left"><label for="product-name" class="h4 text-muted card-title">Burger</label></span>
            <label for="price" class="text-danger float-right">Rs129</label>
        </div>
        <div class="container">
            <span class="float-left"><label for="Free-delivery">Free</label></span>
            <span class="float-right"><a href=""></a><span class="material-icons">
                    delete
                </span> Delete</a></span>
        </div>
    </div>



    <div id="total" class="container card ">
        <div class="container card-body"> <span class="float-left">
                <lable for="total" class="h2 card-title">Total</lable>
            </span>
            <span class="float-right"> <label for="price" class="text-danger">Rs 228.00</label> </span>
        </div>
    </div>


</div>