<div class="container">
    <!-- to be add the bootstrap -->
    <form action="" class="form-group" method="get">
        <div class="container">
            <label for="titile" class="">Item Name</label>
            <input type="text" name="title" id="" class="form-control" required maxlength="200">
            <div class="form-row row">
                <div class=" col-lg-3">
                    <label for="price" class="">Price</label>
                    <input type="text" name="price" id="" class="form-control" required>
                </div>
                <div class=" col-sm-3">
                    <label for="dateOfLaunch" class="">Date of
                        Launch</label>
                    <input type="date" name="dateOfLaunch" id="" class="form-control" required>
                   
                </div>
                <div class=" col-sm-3">
                    <label for="category" class="">Category</label>
                    <select name="category" id="" class="form-control" required></select>
                </div>

                <div class=" col-sm-3">
                    <label for="active" class="">Active</label>
                    <div>
                        <input type="radio" name="active" id="yes" value="yes" class="">Yes
                        <input type="radio" name="active" id="no" value="no" class="">NO
                    </div>
                </div>
            </div>
            <div class="">
                <input type="checkbox" name="freeDelivery" id="form-control" class="">
                <label for="freeDelivery" class="">Free
                    Delivery</label>
            </div>
            <input type="submit" value="Save" class="btn btn-danger">
        </div>
    </form>
</div>