<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonym
ous">
<!-- icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <a class="navbar-brand" href="#"><span class="material-icons">
        local_dining
        </span>TRUYUM</a>
    <!--            <div class="ml-auto">-->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#cNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="cNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="menu-item-list.html">Menu Items</a>
            </li>
        </ul>
    </div>

</nav>

