<div class="container">

    <h1>menu items</h1>
    <!--    <div class="col-sm-4 py-2">-->
    <div class="card-columns">

        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1528735602780-2552fd46c7af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="card-body">
                <div>
                    <lable class="card-title h2 " name="Name">
                        <!--        name-->
                        Sandwich
                    </lable>
                    <!--                </span>-->


                    <lable class="card-text float-right text-danger" name="Price">
                        <!--        price-->
                        Rs.99
                    </lable>
                </div>

                <div>

                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Main course
                        <!--</type-->
                    </lable>

                    <span class="float-right">
                        <span class="material-icons ">
                            airport_shuttle
                        </span>
                        <label name="Free Delivery" class="card-text btn  btn-primary ">

                            <!--  free/notfree-->
                            FREE
                        </label>
                    </span>
                </div>
                 <!-- <div class="alert alert-success" role="alert" > </div> -->
                <div class="py-3">


                    <a class="btn btn-danger card-link float-right text-light" name="Add to Cart">
                        <!--  add to cart bu-tton--><span class="material-icons text-light">
                            edit
                        </span>
                        Edit</a>

                </div>


            </div>
        </div>
        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="card-body">
                <div>

                    <lable class="card-title h2 " name="Name">
                        <!--        name-->
                        Burger
                    </lable>
                    <!--                </span>-->


                    <lable class=" card-text float-right text-danger" name="Price">
                        <!--        price-->
                        Rs.99
                    </lable>
                </div>

                <div>
                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Main course
                        <!--</type-->
                    </lable>

                    <span class="float-right">
                        <span class="material-icons ">
                            airport_shuttle
                        </span>
                        <label name="Free Delivery" class="card-text  btn btn-primary ">

                            <!--  free/notfree-->
                            FREE
                        </label>
                    </span>
                </div>
 <!-- <div class="alert alert-success" role="alert" > </div> -->
                <div class="py-3">

                    <!-- <span class="pull-right"> -->
                    <a class="btn btn-danger float-right text-light" name="Add to Cart">
                        <!--  add to cart bu-tton--><span class="material-icons text-light">
                            edit
                        </span>
                        Edit</a>
                    <!-- </span> -->
                </div>


            </div>
        </div>
        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1458642849426-cfb724f15ef7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="card-body">
                <div>

                    <lable class="card-title h2 " name="Name">
                        <!--        name-->
                        Pizza
                    </lable>
                    <!--                </span>-->


                    <lable class=" card-text float-right text-danger" name="Price">
                        <!--        price-->
                        Rs.99
                    </lable>
                </div>

                <div>



                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Main course
                        <!--</type-->
                    </lable>

                    <span class="float-right">
                        <span class="material-icons ">
                            airport_shuttle
                        </span>
                        <label name="Free Delivery" class="card-text  btn btn-primary ">

                            <!--  free/notfree-->
                            FREE
                        </label>
                    </span>
                </div>
                 <!-- <div class="alert alert-success" role="alert" > </div> -->
                <div class="py-3">
                    <a class="btn btn-danger float-right text-light" name="Add to Cart">
                        <!--  add to cart bu-tton--><span class="material-icons text-light">
                            edit
                        </span>
                        Edit</a>

                </div>


            </div>
        </div>
        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1579065934361-0a0c8771812a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="card-body">
                <div>

                    <lable class="card-title h2 " name="Name">
                        <!--        name-->
                        French Fries
                    </lable>
                    <!--                </span>-->


                    <lable class=" card-text float-right text-danger" name="Price">
                        <!--        price-->
                        Rs.99
                    </lable>
                </div>

                <div>



                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Main course
                        <!--</type-->
                    </lable>

                    <span class="float-right">
                        <span class="material-icons ">
                            airport_shuttle
                        </span>
                        <label name="Free Delivery" class="card-text  btn btn-primary ">

                            <!--  free/notfree-->
                            FREE
                        </label>
                    </span>
                </div>
                 <!-- <div class="alert alert-success" role="alert" > </div> -->
                <div class="py-3">

                    <span class="pull-right">
                        <a class="btn btn-danger float-right text-light" name="Add to Cart">
                            <!--  add to cart bu-tton--><span class="material-icons text-light">
                                edit
                            </span>
                            Edit</a>
                    </span>
                </div>


            </div>
        </div>
        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1564355808539-22fda35bed7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="card-body">
                <div>

                    <lable class="card-title h2 " name="Name">
                        <!--        name-->
                        Brownie
                    </lable>
                    <!--                </span>-->


                    <lable class=" card-text float-right text-danger" name="Price">
                        <!--        price-->
                        Rs.99
                    </lable>
                </div>

                <div>




                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Main course
                        <!--</type-->
                    </lable>

                    <span class="float-right">
                        <span class="material-icons ">
                            airport_shuttle
                        </span>
                        <label name="Free Delivery" class="card-text  btn btn-primary ">

                            <!--  free/notfree-->
                            FREE
                        </label>
                    </span>
                </div>
                 <!-- <div class="alert alert-success" role="alert" > </div> -->
                <div class="py-3">

                    <!-- <span class="pull-right"> -->
                    <a class="btn btn-danger float-right text-light" name="Add to Cart">
                        <!--  add to cart bu-tton--><span class="material-icons text-light">
                            edit
                        </span>
                        Edit</a>
                    <!-- </span> -->
                </div>


            </div>
        </div>


    </div>

</div>