<div class="container">
    <h2>Favourite movies</h2>

    <div id="item" class="container card">

        <div class="container card-body">
            <span class="float-left"><label for="product-name" class="h4 text-muted card-title">FAST AND THE FURIOUS
                    6</label></span>
            <label for="price" class="text-danger float-right">789 million</label>
        </div>
        <div class="container">
            <span class="float-left"><label class="h6 text-muted card-title">Thriller</label></span>
            <span class="float-right"><span class="material-icons text-danger">

                    favorite

                </span></span>
        </div>
    </div>

    <div id="item" class="container card">

        <div class="container card-body">
            <span class="float-left"><label for="product-name" class="h4 text-muted card-title">PIRATES OF THE
                    CARIBBEAN</label></span>
            <label for="price" class="text-danger float-right">$4.524 billion
            </label>
        </div>
        <div class="container">
            <span class="float-left"><label class="h6 text-muted card-title">Thriller</label></span>
            <span class="float-right"><span class="material-icons text-danger">

                    favorite

                </span></span>
        </div>
        
    </div>


    <div id="total" class="container card ">
        <div class="container card-body"> <span class="float-left">
                <lable for="total" class="h2 card-title">Total Movies:      </lable>
            </span>
            <span class="float-right"> <label for="price" class="h2 text-danger">2</label> </span>
        </div>
    </div>



</div>