<div class="container">

    <h1>Movies</h1>
    <!--    <div class="col-sm-4 py-2">-->
    <div class="card-columns">
        <!-- // see the list of all movies with title, box office, active, date of launch, genre (Science Fiction, Superhero, Romance, Comedy, Adventure, Thriller), has teaser, favorite indicator     -->
        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top"
                    src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/13/05/movies-fast-and-furious-6-poster.jpg?resize=480:*"
                    alt="movie image">
            </div>
            <div class="card-body">
                <div>
                    <lable class="card-title h4 text-uppercase " name="Name">
                        <!--        name-->
                        <!-- //title -->
                        FAST and the furious 6
                    </lable>
                    <!--                </span>-->


                    <lable class="card-text float-right" name="Price">
                        <!--        price-->
                        $789 million.
                    </lable>
                </div>

                <div>

                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Thriller
                        <!--</type-->
                    </lable>

                </div>
                <div class="py-3">
                    <span class="float-left">
                        <label name="Date of Launch">
                            24 May 2013
                            <!-- date of expire-->
                        </label>
                    </span>

                    <span class="float-right">
                        <a name="Date of Launch" class="card-link text-uppercase" href="">
                            teaser
                        </a>
                    </span>
                </div>
                <!-- <div class="alert alert-success" role="alert" > </div> -->

                <div class="py-3">
                    <span class="material-icons text-danger">
                        favorite
                    </span>
                    <!-- <span class="material-icons">
                        favorite_border
                        </span> -->
                    <a class="btn btn-success card-link float-right text-light" name="Add to Cart">
                        <!--  add to cart bu-tton--><span class="material-icons text-light">
                            edit
                        </span>
                        Edit</a>
                </div>
            </div>
        </div>
        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top"
                    src="https://m.media-amazon.com/images/M/MV5BMTY4NTIwODg0N15BMl5BanBnXkFtZTcwOTc0MjEzMw@@._V1_.jpg"
                    alt="movie image">
            </div>
            <div class="card-body">
                <div>
                    <lable class="card-title h4 text-uppercase " name="Name">
                        <!--        name-->
                        <!-- //title -->
                        Harry porter
                    </lable>
                    <!--                </span>-->


                    <lable class="card-text float-right" name="Price">
                        <!--        price-->
                        13 crores USD
                    </lable>
                </div>

                <div>

                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Thriller
                        <!--</type-->
                    </lable>

                </div>
                <div class="py-3">
                    <span class="float-left">
                        <label name="Date of Launch">
                            12 April 2002
                            <!-- date of expire-->
                        </label>
                    </span>

                    <span class="float-right">
                        <a name="Date of Launch" class="card-link text-uppercase" href="">
                            teaser
                        </a>
                    </span>
                </div>
                <!-- <div class="alert alert-success" role="alert" > </div> -->
                <div class="py-3">
                    <span class="material-icons text-danger">
                        favorite
                    </span>
                    <!-- <span class="material-icons">
                        favorite_border
                        </span> -->
                    <a class="btn btn-success card-link float-right text-light" name="Add to Cart">
                        <!--  add to cart bu-tton--><span class="material-icons text-light">
                            edit
                        </span>
                        Edit</a>
                </div>
            </div>
        </div>
        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top" src="https://wallpapercave.com/wp/wp4961155.jpg " alt="movie image">
            </div>
            <div class="card-body">
                <div>
                    <lable class="card-title h4 text-uppercase " name="Name">
                        <!--        name-->
                        <!-- //title -->
                        pirates of the caribbean
                    </lable>
                    <!--                </span>-->


                    <lable class="card-text float-right" name="Price">
                        <!--        price-->
                        $4.524 billion
                    </lable>
                </div>

                <div>

                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Thriller
                        <!--</type-->
                    </lable>

                </div>
                <div class="py-3">
                    <span class="float-left">
                        <label name="Date of Launch">
                            15 August 2003
                            <!-- date of expire-->
                        </label>
                    </span>

                    <span class="float-right">
                        <a name="Date of Launch" class="card-link text-uppercase" href="">
                            teaser
                        </a>
                    </span>
                </div>
                <!-- <div class="alert alert-success" role="alert" > </div> -->
                <div class="py-3">
                    <!-- <span class="material-icons text-danger">
                        favorite
                    </span> -->
                    <span class="material-icons">
                        favorite_border
                    </span>
                    <a class="btn btn-success card-link float-right text-light" name="Add to Cart">
                        <!--  add to cart bu-tton--><span class="material-icons text-light">
                            edit
                        </span>
                        Edit</a>
                </div>
            </div>
        </div>
        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top"
                    src="https://moviesmore.net/wp-content/uploads/2019/05/Avatar-720p-Movie-Download.jpg"
                    alt="movie image">
            </div>
            <div class="card-body">
                <div>
                    <lable class="card-title h4 text-uppercase " name="Name">
                        <!--        name-->
                        <!-- //title -->
                        Avatar
                    </lable>
                    <!--                </span>-->


                    <lable class="card-text float-right" name="Price">
                        <!--        price-->
                        279 crores USD
                    </lable>
                </div>

                <div>

                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Thriller
                        <!--</type-->
                    </lable>

                </div>
                <div class="py-3">
                    <span class="float-left">
                        <label name="Date of Launch">
                            18 Dec 2009
                            <!-- date of expire-->
                        </label>
                    </span>

                    <span class="float-right">
                        <a name="Date of Launch" class="card-link text-uppercase" href="">
                            teaser
                        </a>
                    </span>
                </div>
                <!-- <div class="alert alert-success" role="alert" > </div> -->
                <div class="py-3">
                    <span class="material-icons text-danger">
                        favorite
                    </span>
                    <!-- <span class="material-icons">
                        favorite_border
                        </span> -->
                    <a class="btn btn-success card-link float-right text-light" name="Add to Cart">
                        <!--  add to cart bu-tton--><span class="material-icons text-light">
                            edit
                        </span>
                        Edit</a>
                </div>
            </div>
        </div>
        <div class="card">
            <!--        card:-->
            <div>
                <img class="card-img-top"
                    src="https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/1556310083337-REK5XZEO4CEEQ967RG3U/ke17ZwdGBToddI8pDm48kDmFReG6sMd6Ta7gBNcn0vl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmEZprBMNaW6dUYQUrCwR2cfD_tan1WbhVmWT43J00AGfRNnJ6YZWPhBiNCCxmy_wi/new-avengers-endgame-posters-reflect-the-legacy-of-the-six-core-team-members?format=1500w"
                    alt="movie image">
            </div>
            <div class="card-body">
                <div>
                    <lable class="card-title h4 text-uppercase " name="Name">
                        <!--        name-->
                        <!-- //title -->
                        avengers endgame
                    </lable>
                    <!--                </span>-->


                    <lable class="card-text float-right" name="Price">
                        <!--        price-->
                        280 crores USD
                    </lable>
                </div>

                <div>

                    <lable class="card-subtitle mb-2 text-muted text-left" name="Category">
                        Thriller
                        <!--</type-->
                    </lable>

                </div>
                <div class="py-3">
                    <span class="float-left">
                        <label name="Date of Launch">
                            26 April 2019
                            <!-- date of expire-->
                        </label>
                    </span>

                    <span class="float-right">
                        <a name="Date of Launch" class="card-link text-uppercase" href="">
                            teaser
                        </a>
                    </span>
                </div>
                <!-- <div class="alert alert-success" role="alert" > </div> -->
                <div class="py-3">
                    <!-- <span class="material-icons text-danger">
                        favorite
                    </span> -->
                    <span class="material-icons">
                        favorite_border
                    </span>
                    <a class="btn btn-success card-link float-right text-light" name="Add to Cart">
                        <!--  add to cart bu-tton--><span class="material-icons text-light">
                            edit
                        </span>
                        Edit</a>
                </div>
            </div>
        </div>
    </div>

</div>