<div class="jumbotron" style="background: url('https://images.unsplash.com/photo-1543536448-d209d2d13a1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') no-repeat center fixed;
    background-size: cover;">
    <div class="container-fluid">
        <h1 class="text-dark">FIND MOVIE</h1>
        <div class="">
            <div class="container-fluid">
                <span class="material-icons text-dark ">

                    theaters</span>
                <input type="text" name="search" id="search" class="col-md-10" placeholder="Search Movie">
            </div>
        </div>
    </div>