<span class="material-icons text-light"> shopping_cart </span>
<div class="container">
	<h1>Movies</h1>
	<div class="card-columns" id="moviesList">
		<!-- forloop movie; -->
		<c:forEach items="${movie}" var="movie">
			<div class="card" id="${movie.title}">
				<!--        card:-->
				<div>
					<img class="card-img-top" src="${movie.imageUrl}"
						alt="${movie.title}">
				</div>
				<div class="card-body">
					<div>
						<lable class="card-title h4 text-uppercase " name="Name">
						<!--        name--> ${movie.title}</lable>
						<!--                </span>-->


						<lable class="card-text float-right" name="Price"> <!--        price-->
						${movie.boxOffice} </lable>
					</div>

					<div>

						<lable
							class="card-subtitle mb-2 text-muted text-left text-capitalize"
							name="Category"> ${movie.genre} <!--</type--> </lable>

					</div>
					<div class="py-3">
						<span class="float-left"> <label name="Date of Launch">
								<fmt:formatDate value="${movie.dateofLaunch}" type="date"
									pattern="dd-MMM-yyyy" /> <!-- date of expire-->
						</label>
						</span> <span class="float-right">
							<div name="Teaser" class=" text-uppercase test-success"
								id="teaser${movie.id}">
								<script>
						if(${movie.hasTeaser}){
							console.log("has teaser");
						$("<p class='text-primary'>TEASER</p>").appendTo('#teaser${movie.id}');
						}
							</script>
							</div>
						</span>
					</div>
					<!-- <div class="alert alert-success" role="alert" > </div> -->

					<div class="py-3">
						<span id="fav${movie.id}"></span>
						<script>
						if(${movie.favourite}){
							console.log("this is true");
						$('<span class="material-icons text-danger">favorite </span>').appendTo('#fav${movie.id}');
						}
						else
						{ $('<span class="material-icons"> favorite_border </span>').appendTo('#fav${movie.id}');

						}
						</script>
						<a class="btn btn-alert
						 card-link float-right text-light"
							name="Add to Cart" id="${movie.id} href=""> <!--  add to cart button-->
							Add to favorite
						</a>
					</div>
				</div>
			</div>
		</c:forEach>
	</div>